<% if session[:user_id] %>
	<p><strong>Logged in user: </strong><%= @user.first_name %> <%=@user.last_name %></p>
<% end %>

<h1>All users</h1>
<% @users.each do |u| %>
	<p><%= u.first_name %> <%= u.last_name %></p>
<% end %>