<h1>User profile</h1>
<p><%= @user.first_name %> <%= @user.last_name %></p>

<form action="/users/logout" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" value="log out">
</form>
